.select {
  border: 1px solid var(--gray20);
  color: var(--gray30);
  font: var(--button-button);
  padding-block: .5rem;
  padding-inline: .75rem;
  padding-inline-end: 2rem;
  border-radius: .25rem;
  appearance: none;
  background-image: url('../icon/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-size: 1rem 1rem;
  outline: none;
}

/* ----states---- */

.select:focus,
.select:hover {
  background-color: var(--gray10);
}