.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline: .5rem;
  padding-block: 1.5rem;
  overflow-y: auto;
  gap: 1.5rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: start;
  gap: 1.5rem;
}